#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 50px;
}

body {
  background: url('../src/assets/bg-black.svg');
  margin: 0;
}

p {
  line-height: 1.5em;
}

ul {
  line-height: 1.5em;
}

.show {
  display: block;
}